body {
  background: Lavender;
}




.title {
  color: MediumSeaGreen;
  margin-left: 60px;
  width: 300px;
  border-radius: 4px;
}

//SearchForm

.left {
  float: left;
  width: 35%;

}

.search-form {
  display: flex;
  align-items: center;
  width: 300px;
  margin-bottom: 0px;
  background-color: white;
  margin-left: 60px;
  position: relative;
  background-color: #ffffff;
  -webkit-transition: box-shadow 200ms ease-in;
  -moz-transition: box-shadow 200ms ease-in;
  transition: box-shadow 200ms ease-in;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 48px;
}

button {
  background-color: '#e7e7e7';
  color: black;
  border-radius: 5px;
}

 button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  outline: none;
}

 button:hover {
  background-color: #4CAF50;
  color: white;
}

.searchbar-button {
  width: 40px;
  height: 40px;
  border: white;
}



// infoBox

.info-box {
  margin-left: 60px;
  margin-top: 20px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  background-color: white;
  width: 300px;
  border-radius: 4px;
  text-align: center;
  height: 400px;
}

.poke-img {
  width: 200px;
  height: 180px;
}

.poke-name {
  margin-bottom: 0px;
  margin-top: 0px;
}

.poke-type2 {
  margin-left: 58px;
}


// statGraph
.stat-graph-toggle {
  width: 65%;
  max-width: 700px;
  float: left;
  border-radius: 4px;
  height: 470px;
  background-color: white;
}



.toggle {
  width: 20px;
  position: relative;
  left: 280px;
}

// poke-move
.poke-move {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 100px;
}
