.stat-graph-toggle {
  width: 65%;
  max-width: 700px;
  float: left;
  border-radius: 4px;
  height: 470px;
  background-color: white;
  -webkit-transition: box-shadow 200ms ease-in;
  -moz-transition: box-shadow 200ms ease-in;
  transition: box-shadow 200ms ease-in;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}



.toggle {
  width: 20px;
  position: relative;
  left: 280px;
}
